<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="org.janusproject"
            id="org.janusproject.extras.ui.eclipse.kernelinformation">
      </category>
      <view
            category="org.janusproject.extras.ui.eclipse.kernelinformation"
            class="org.janusproject.extras.ui.eclipse.kernelinformation.views.KernelInformationView"
            icon="icons/logo-janus.png"
            id="org.janusproject.extras.ui.eclipse.kernelinformation.views.KernelInformationView"
            name="Janus Kernel Information View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.janusproject.extras.ui.eclipse.base.perspective">
         <view
               id="org.janusproject.extras.ui.eclipse.kernelinformation.views.KernelInformationView"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.janusproject.extras.ui.eclipse.base.menu.views">
         <command
               commandId="org.janusproject.extras.ui.eclipse.kernelinformation.commands.showkernelinformationview"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.janusproject.extras.ui.eclipse.kernelinformation.commands.ShowKernelInformationView"
            id="org.janusproject.extras.ui.eclipse.kernelinformation.commands.showkernelinformationview"
            name="Show Kernel Information">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.janusproject.extras.ui.eclipse.kernelinformation.views.KernelInformationView">
         <propertyCategory
               category="org.janusproject"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.janusproject.extras.ui.eclipse.kernelinformation.views.KernelInformationView">
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               id="org.janusproject.extras.ui.eclipse.kernelinformation.property.AdvancedSection"
               tab="org.janusproject.extras.ui.eclipse.kernelinformation.property.AdvancedTab">
            <input
                  type="org.janusproject.kernel.address.AgentAddress">
            </input>
            <input
                  type="org.osgi.framework.ServiceReference">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.janusproject.extras.ui.eclipse.kernelinformation.views.KernelInformationView">
         <propertyTab
               category="org.janusproject"
               id="org.janusproject.extras.ui.eclipse.kernelinformation.property.AdvancedTab"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.janusproject.kernel.address.AgentAddress"
            class="org.janusproject.extras.ui.eclipse.kernelinformation.adapters.AgentAddressAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.osgi.framework.ServiceReference"
            class="org.janusproject.extras.ui.eclipse.kernelinformation.adapters.JanusModuleAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>

</plugin>
